article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0; }

.wrapper {
  max-width: 80%;
  margin: 0 auto; }

header {
  height: 100vh;
  background: #9dd7e5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 20px solid white; }
  header div h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 84px;
    color: white;
    text-shadow: 2px 2px 0 #ffa89e, -2px 2px 0 #cd81a7;
    letter-spacing: 10px;
    position: relative; }
    header div h1:after {
      content: "literally^";
      display: block;
      position: absolute;
      font-family: 'Rubik', sans-serif;
      font-size: 22px;
      right: 45%;
      -webkit-transform: skewY(-15deg);
      -ms-transform: skewY(-15deg);
      transform: skewY(-15deg);
      text-shadow: none; }
  header p {
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    margin-top: 60px; }

.genreSelection .subtitle {
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px; }

.genreSelection h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  color: #9dd7e5;
  margin-left: 15px;
  margin-bottom: 10px; }

.genreSelection #choose {
  margin-left: 15px;
  margin-top: 0;
  font-style: italic; }

.genreSelection ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.genreSelection li {
  list-style: none;
  margin: 15px;
  width: calc(20% - 30px);
  padding: 15px;
  border: 4px solid #9dd7e5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer; }
  .genreSelection li .iconContainer {
    width: 60%;
    max-height: 70%;
    margin: 0 auto; }
    .genreSelection li .iconContainer img {
      max-width: 80%;
      margin: 0 auto; }
    .genreSelection li .iconContainer .largeSvg {
      max-width: 70%;
      margin-left: 10px; }
  .genreSelection li p {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    margin: 5px 0 0 0;
    font-weight: 700; }

.locationSelection button {
  border-radius: 0;
  display: block;
  position: relative;
  background: white;
  margin: 50px auto 50px auto;
  padding: 20px 25px;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 5px;
  border: 4px solid #ffa89e;
  font-size: 20px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .locationSelection button:hover {
    background: #ffa89e;
    color: white;
    -webkit-box-shadow: inset 0 0 8px white;
    box-shadow: inset 0 0 8px white; }

.locationSelection .spinnerContainer {
  width: 100px;
  margin: 50px auto; }
  .locationSelection .spinnerContainer img {
    width: 100%; }

#mapid {
  height: 500px;
  width: 100%;
  margin-top: 50px; }

.loadIcon {
  display: none; }

footer {
  font-family: 'Work Sans', sans-serif;
  background: white;
  font-size: 16px;
  padding: 10px;
  text-align: center; }
  footer a {
    color: black;
    padding: 10px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    footer a:hover {
      color: #9dd7e5;
      text-shadow: 2px 2px 0 #ffa89e; }
    footer a .fa {
      font-size: 24px; }

.genreSelection_item {
  -webkit-box-shadow: 4px 4px 2px #F5F5F5;
  box-shadow: 4px 4px 2px #F5F5F5;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .genreSelection_item:hover {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px); }

.selectedGenre {
  -webkit-box-shadow: inset 0 0 8px #ffa89e;
  box-shadow: inset 0 0 8px #ffa89e; }

.results {
  margin-top: 50px; }
  .results #podSuggest {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 80%;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 auto; }
    .results #podSuggest .podGallery {
      width: calc(33.3% - 20px);
      margin: 10px;
      font-family: 'Work Sans', sans-serif; }
      .results #podSuggest .podGallery img {
        max-width: 100%; }
      .results #podSuggest .podGallery h3 {
        font-size: 18px; }
      .results #podSuggest .podGallery .textContainer {
        margin-top: 10px; }
        .results #podSuggest .podGallery .textContainer p {
          font-size: 13px; }
        .results #podSuggest .podGallery .textContainer a {
          text-decoration: none;
          color: #ffa89e;
          font-size: 13px;
          padding: 5px 10px;
          border: 3px solid #ffa89e;
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
          .results #podSuggest .podGallery .textContainer a:hover {
            background: #ffa89e;
            color: white; }

@media (max-width: 940px) {
  .genreSelection li {
    width: calc(33.3% - 30px); } }

@media (max-width: 768px) {
  header div h1 {
    font-size: 72px; }
  header p {
    font-size: 22px; }
  .genreSelection li {
    width: calc(50% - 30px); }
  .results #podSuggest {
    max-width: 85%; }
    .results #podSuggest .podGallery {
      width: calc(50% - 20px);
      margin: 10px;
      font-family: 'Work Sans', sans-serif; }
      .results #podSuggest .podGallery:last-of-type {
        width: calc(100% - 20px); }
        .results #podSuggest .podGallery:last-of-type img {
          width: 50%;
          float: left; }
        .results #podSuggest .podGallery:last-of-type .textContainer {
          float: left;
          padding-left: 10px;
          margin-top: 10px;
          width: 50%; } }

@media (max-width: 640px) {
  header h1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    header h1:after {
      visibility: hidden; }
    header h1:before {
      content: "^literally";
      display: block;
      position: absolute;
      font-family: 'Rubik', sans-serif;
      font-size: 22px;
      text-shadow: none;
      -webkit-transform: skewY(15deg);
      -ms-transform: skewY(15deg);
      transform: skewY(15deg);
      bottom: -15%;
      left: -10%; }
  header p {
    padding: 0 25px;
    font-size: 18px;
    text-align: center; }
  .results #podSuggest {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .results #podSuggest .podGallery {
      width: calc(100% - 20px);
      width: calc(100% - 20px); }
      .results #podSuggest .podGallery img {
        width: 50%;
        float: left; }
      .results #podSuggest .podGallery .textContainer {
        float: left;
        padding-left: 10px;
        margin-top: 0;
        width: 50%; }
        .results #podSuggest .podGallery .textContainer p {
          margin-top: 0; } }

@media (max-width: 480px) {
  header div h1:after {
    display: none; }
  .genreSelection .wrapper {
    max-width: 90%; }
    .genreSelection .wrapper li {
      width: calc(100% - 30px);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 5px;
      margin: 10px 15px; }
      .genreSelection .wrapper li .iconContainer {
        width: 40%;
        margin: 0;
        height: 80%; }
        .genreSelection .wrapper li .iconContainer img {
          max-width: 100%;
          height: 100%; }
        .genreSelection .wrapper li .iconContainer .largeSvg {
          max-width: 70%; }
      .genreSelection .wrapper li p {
        width: 50%;
        font-size: 22px; } }
